.popup__title {
  max-width: 330px;
  width: 100%;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  align-self: start;
  padding-bottom: -5px;
}

@media screen and (max-width: 414px) {
  .popup__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .popup__title {
    max-width: 185px;
  }
}