.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/profile/profile_info/Edit_Button.svg);
  background-position: center;
  background-color: transparent;
  border: 0;
  pointer-events: fill;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .profile__edit-button {
    background-image: url(../../../images/profile/profile_info/Edit_Button18.svg);
    background-position: center;
    width: 18px;
    height: 18px;
    margin-bottom: 14px;
  }
}
