.header__navbar {
  position: absolute;
  display: flex;
  align-items: flex-end;
  height: 33px;
  top: 0;
  right: 10px;
}

@media screen and (max-width: 320px) {
  .header__navbar {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    height: 24.4px;
    width: 100%;
    margin-right: 27px;
    flex-direction: column;
    align-items: flex-end;
  }
}