.popup__input {
  box-sizing: border-box;
  border: 0;
  max-width: 358px;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding: 10px 5px;
  margin-top: 13.11%; /*48*/
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input:focus {
  outline: 1px groove rgba(106, 151, 235, 0.657);
}

@media screen and (max-height: 414px) {
  .popup__input {
    margin-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .popup__input {
    margin-top: 10%; /*20*/
  }
}
