.popup {
  transition: visibility .4s linear, opacity .7s ease;
  display: flex;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 10;
}
