.popup__link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  font-style: normal;
  font-family: 'Inter', Arial, sans-serif;
  width: 100%;
  margin-top: 15px;
  text-align: center;
  opacity: 1;
}

.popup__link:hover {
  opacity: .8;
}